*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins;
}
.navbar
{
	width: 100%;
	height: 90px;
	background-color: rgb(17, 18, 46);
	display: flex;
	align-items: center;
}
.navbar .nav-item
{
	width: 100%;
	color: white;
	display: flex;
}
.nav-item .logo
{
	width: 30%;
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}
.items
{
	width: 70%;
	padding: 10px 20px;
}
.items ul li
{
	color: white;
	font-size: 18px;
	display: inline;
	margin-right: 35px;
}
.try-btn
{
	background-color: rgb(255, 0, 0);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 25px;
	font-size: 10px;
}
.items ul i
{
	color: white;
	font-size: 25px;
	display: none;
}
@media(max-width:991px)
{
	.items ul li
	{
		display: none;
	}
	.items button
	{
		display: none;
	}
	.logo
	{
		margin-left: 50px;
	}
	.items
	{
		display: flex;
		justify-content: space-around;
	}
	.items ul i
	{
		display: block;
		margin-left: 150px;
		font-size: 35px;
	}
}
header
{
	height: 500px;
	background-image: url(image1.jpg);
	background-size: cover;
}
.page1
{
	width: 100%;
	height: 500px;
	background-color: rgba(114, 0, 156, 0.8);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content
{
	width: 60%;
	height: 400px;
	align-content: center;
	text-align: center;
	color: white;
}
@media(max-width:767px)
{
	.content
	{
		width: 90%;
		height: 250px;
	}
	.content .we
	{
		font-size: 20px;
	}
	.content .para1
	{
		font-size: 15px;
	}
}
@media(max-width:991px)
{
	.content
	{
		width: 90%;
		height: 400px;
	}
	.content .we
	{
		font-size: 40px;
	}
	.content .para1
	{
		font-size: 15px;
	}
}

.content .we
{
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 30px;
}
.watch
{
	background-color: transparent;
	color: rgb(255, 0, 0);
	padding: 10px 25px;
	border: 1px solid rgb(255, 0, 0);
	border-radius: 5px;
	font-size: 15px;
	z-index: 1000;
	animation: animae 1.5s linear infinite;
	margin-top: 30px;
}
.watch:hover
{
	background-color: rgb(255, 0, 0);
	color: white;
}
section .wave
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(wave1.png);
	background-size: cover;
	box-sizing: border-box;
}
.wave1
{
	animation: animate1 30s linear infinite;
	z-index: 1000;
	opacity: 1;
	box-sizing: border-box;
	animation-delay: 0s;
	margin-bottom: 0;
}
.wave2
{
	animation: animate2 15s linear infinite;
	z-index: 999;
	opacity: 0.5;
	box-sizing: border-box;
	animation-delay: -5s;
	margin-bottom: 15px;
}
.wave3
{
	animation: animate3 30s linear infinite;
	z-index: 998;
	opacity: 0.3;
	box-sizing: border-box;
	animation-delay: -2s;
	margin-bottom: 25px;
}
@keyframes animate1 
{
	0%
	{
		background-position-x: 0;
	}
	100%
	{
		background-position-x: 1000px;
	}
}
@keyframes animate2
{
	0%
	{
		background-position-x: 0;
	}
	100%
	{
		background-position-x: -1000px;
	}
}
